<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<p th:text="'Review on book - ' + ${book.title}"/>
<div th:if="${role == 'MEMBER'}">
    <a th:href="@{/books/{id}/reviews/new(id=${book.id})}" th:text="'Add new review'"/>
    <br>
</div>
<table>
    <thead>
    <tr>
        <th>User</th>
        <th>Email</th>
        <th>Rate</th>
        <th>Comment</th>
        <th>Posted</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${reviews}">
        <td th:text="${review.getMember().user.lastname} + ' ' + ${review.getMember().user.firstname}">Member</td>
        <td th:text="${review.getMember().user.email}">Email</td>
        <td th:text="${review.rate}">Rate</td>
        <td th:text="${review.comment}">Comment</td>
        <td th:text="${review.posted}">Posted</td>
    </tr>
    </tbody>
</table>
</body>
</html>