<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit password</title>
</head>
<body>
<form th:method="POST" th:action="@{/profile/password}">
    <label for="old_password">Enter old password: </label>
    <input type="password" name="old_password" id="old_password"/>
    <br/>
    <label for="new_password">Enter new password: </label>
    <input type="password" name="new_password" id="new_password"/>
    <br/>
    <label for="confirm_password">Enter confirm password: </label>
    <input type="password" name="confirm_password" id="confirm_password"/>
    <br/>
    <input type="submit" value="Update password"/>
    <div th:if="${error != null}" style="color: red">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>