<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book profile</title>
</head>
<body>
<div th:if="${role == 'LIBRARIAN'}">
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.id})}">
        <input type="submit" th:value="Delete"/>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>Book description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Title: </td>
            <td th:text="${book.title}"/>
        </tr>
        <tr>
            <td>Author: </td>
            <td><a th:href="@{/authors/{id}(id=${book.author.getId()})}" th:text="${book.author.lastname + ' ' + book.author.firstname}" >Author</a></td>
        </tr>
        <tr>
            <td>Pages: </td>
            <td th:text="${book.pages} + ' p.'"/>
        </tr>
        <tr>
            <td>Publication year: </td>
            <td th:text="${book.publicationYear}"/>
        </tr>
        <tr>
            <td>Publisher: </td>
            <td th:text="${book.publisher}"/>
        </tr>
        <tr>
            <td>Category: </td>
            <td th:text="${book.category.name}"/>
        </tr>
        <tr>
            <td>Average rate: </td>
            <td th:text="${book.avgRate}"/>
        </tr>
        <tr>
            <td>Count comments: </td>
            <td th:text="${book.countComments}"/>
        </tr>
        <tr>
            <td>Count in shelf: </td>
            <td th:text="${book.countInShelf}"/>
        </tr>
        <tr>
            <td>Count in stock: </td>
            <td th:text="${book.countInStock}"/>
        </tr>
        <tr>
            <td>Status: </td>
            <td th:text="${book.bookStatus.name()}"/>
        </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Shelf number: </td>
            <td th:text="${book.location.shelfNumber}"/>
        </tr>
        <tr>
            <td>Room number: </td>
            <td th:text="${book.location.roomNumber}"/>
        </tr>
    </tbody>
</table>
</body>
</html>